img {

    height: auto;
    position: relative;
    left: 9.5%;
    margin: 0;
    width: 80%;
}
@media (max-width: 768px) {

    img {

        height: auto;
        margin: 9.5% 0 0 0;
        width: 80%;
    }
}