@font-face {

  font-family: "Montserrat";
  src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.link-button {
  background: none;
  gap:1.5rem;
  font-size: 1.5rem;
  width: 22rem;
  text-align: center;
  font-family: "Montserrat";
  text-decoration: none;
  color: #f6f3e9;
}
@media (max-width: 768px) {

  .linktree-links {
    gap:1.5rem;
    flex-direction: row;

  }
  .linktree-links {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1.5rem;

  padding: 0 0 2rem 0;
}

}
@media (min-width: 768px) {
.link-button {
  background: none;
  color: #f6f3e9;
  font-family: "Montserrat";
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 22rem;

}
.linktree-links {

  display: flex;
  flex-direction: row;
  align-items: center;
  height: 14rem;
  padding: 0 0 2rem 0;
  
}
}




.link-button:hover {
  color: #f99f49;
}
